<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ app.locale }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ app.locale }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ app.locale }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ app.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{% block title%}{% endblock %}</title>
    <meta name="description" content="{% block meta_description%}{% endblock %}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ app.request.basepath }}/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ app.request.basepath }}/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ app.request.basepath }}/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ app.request.basepath }}/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ app.request.basepath }}/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ app.request.basepath }}/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ app.request.basepath }}/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ app.request.basepath }}/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ app.request.basepath }}/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Antistatique"/>
    <meta name="msapplication-TileColor" content="#EF2678" />
    <meta name="msapplication-TileImage" content="{{ app.request.basepath }}/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="{{ app.request.basepath }}/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="{{ app.request.basepath }}/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="{{ app.request.basepath }}/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="{{ app.request.basepath }}/mstile-310x310.png" />


    <link href="{{ app.request.basepath }}/assets/css/antistatique.css?v=3e83083" rel="stylesheet" type="text/css" />
    <script src="//use.typekit.net/lfl3jyz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

<!--[if lt IE 9]>
    <script src="{{ app.request.basepath }}/assets/js/html5.js"></script>
<![endif]-->
<!--[if IE 7]>
    <script src="{{ app.request.basepath }}/assets/js/respond.min.js"></script>
<![endif]-->
<!--[if IE 8]>
    <script src="{{ app.request.basepath }}/assets/js/respond.min.js"></script>
<![endif]-->

{% if app.analytics %}
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{ app.analytics.account }}']);
_gaq.push(['_trackPageview']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
{% endif %}

{% block head_scripts %}{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">


    <header class="topbar">
        <section>
            <a class="brand" href="{{ path('homepage_i18n') }}">
                <object data='{{ app.request.basepath }}/assets/img/logo-antistatique-w.svg?v=3e83083' style='height:35px; width:175px;' >
                    <img alt="antistatique" src="{{ app.request.basepath }}/assets/img/logo-antistatique.png" width="175" height="35" />
                </object>
            </a>
            {% include '_menu.html.twig' %}
        </section>
    </header>

    {% block baseline %}<div class="baseline-space"></div>{% endblock %}

    {% block content %}{% endblock %}

    {% block bottom_navigation %}{% endblock %}

    <footer>
        <section>
            <p class="vcard"><strong>Antistatique</strong> <a href="{{ path('contact') }}" class="locality">Lausanne / Genève</a> <span class="tel">+41 21 623 63 03</span> <a href="mailto:hello@antistatique.net" class="email">hello@antistatique.net</a></p>
            {% include '_menu.html.twig' %}
        </section>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ app.request.basepath }}/assets/js/jquery.min.js"><\/script>')</script>
    <script src="{{ app.request.basepath }}/assets/js/moment.js"></script>
    {% if app.locale != 'en' %}
    <script src="{{ app.request.basepath }}/assets/js/lang/{{ app.request.locale }}.js"></script>
    {% endif %}
    <script src="{{ app.request.basepath }}/assets/js/main.js"></script>
</body>
</html>
